@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: Raleway, orbitron, sans-serif;
  }

.page-container {
    display: grid;
    grid-template-rows: 1.5fr 8.5fr;
    height: 100vh;
    width: 100vw;
}

.header-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.logo {
    background-color: rgb(0, 166, 255);
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-items: center;
}
.sidebar-logo-img {
    background-color: rgb(0, 166, 255);
    width: max(80px, 7vw);
    justify-self: center;
    align-self: center;
  }

.sidebar-text {
  
    font-weight: 800;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    font-family: Raleway, sans-serif;
    color: white;
}

.sidebar-text h2 {
    background-color: rgb(0, 166, 255);
}

.header-title {
    display: grid;
    color:white;
    align-items: center;
    padding-left: 40px;
    background-color: rgb(0, 166, 255);
    font-size: clamp(1.5rem, 2.5vw, 3rem);
  }

.game-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgb(230 230 230);
}

.scoreboard-container {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: rgb(230 230 230);
    padding: 10px;
}

.scoreboard {

    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.score-X,
.score-Y {
    width: clamp(350px, 25vh, 500px);
    height: clamp(100px, 15vh, 250px);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: lightgray;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border: black 2px solid;
    border-radius: 10px;
    font-size: 2rem;
}

.player-name,
.player-score {
    text-align: center;
}

.message-bar {
    height: clamp(70px, 25vh, 250px);
    width: clamp(350px, 25vh, 500px);
    background-color: lightgray;
    border: black 2px solid;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.message-body {
    font-family: 'Courier New', Courier, monospace;
    place-self: center;
}

.button-container {
    display: grid;  
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.new-game-button,
#openChangePlayerDialogButton {
    height: 50px;
    width: clamp( 175px, 12.5vh, 250px);
    background-color: lightgray;
    border: 2px black solid;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.gameboard-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgb(230 230 230);
    padding: 0.5rem;
}

.gameboard {
    height: calc(85vh * .90);
    width: calc(60vw * .90);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: whitesmoke;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.gameboard>.game-square:nth-of-type(1) {
    border-right: 2px black solid;
    border-bottom: 2px black solid;
}

.gameboard>.game-square:nth-of-type(2) {
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
}

.gameboard>.game-square:nth-of-type(3) {
    border-left: 2px black solid;
    border-bottom: 2px black solid;
}

.gameboard>.game-square:nth-of-type(4) {
    border-bottom: 2px black solid;
    border-right: 2px black solid;
    border-top: 2px black solid;
}

.gameboard>.game-square:nth-of-type(5) {
    border: 2px black solid;
}

.gameboard>.game-square:nth-of-type(6) {
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-top: 2px black solid;
}

.gameboard>.game-square:nth-of-type(7) {
    border-right: 2px black solid;
    border-top: 2px black solid;
}

.gameboard>.game-square:nth-of-type(8) {
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-top: 2px black solid;
}

.gameboard>.game-square:nth-of-type(9) {
    border-left: 2px black solid;
    border-top: 2px black solid;
}

.game-square {
    min-width: 100px;
    min-height: 100px;
    display: grid;
    align-content: center;
    justify-content: center;
}

.game-square span {
    font-size: min(calc(60vw*.25),calc(85vh*.25));
}


.leaderboard-container {
    background-color: rgb(230 230 230);
    display: grid;
    align-content: center;
    justify-content: center;
}

.leaderboard {
    height: clamp( 70px, 75vh, 800px);
    width: clamp( 350px, 25vh, 500px);
    background-color: lightgray;
    border: black 2px solid;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}


/* Dialog styles */
.modal {
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: rgb(245 245 245);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.form-inputs {
display: flex;
flex-direction: column;
justify-content: space-evenly;
flex-grow: 1;
margin: 5px;
}

.form-inputs input {
padding: 0.1rem;
font-size: 1.5rem;
width: clamp(150px, 20vw, 400px);
height: 2rem;
border: 2px solid #E5E7EB;
border-radius: 5px;
}

.form-inputs input[type=radio] {
width: 1rem;
height: 1rem;
padding: 0px;
margin: 0px;
}

.form-inputs fieldset {
display: flex;
align-items: center;
justify-content: space-evenly;
gap: 2px;
padding: 0.1rem;
font-size: 1rem;
width: clamp(150px, 20vw, 400px);
height: 1rem;
border: none;
}

#player-token-radio-group {
justify-content: start;
gap: 25px;
}

.radio-group {
display: flex;
align-items: center;
}

.input-group {
display: flex;
flex-direction: row;
gap: clamp(2vw, 5vw, 100px);
}

.form-group {
display: flex;
flex-direction: column;
gap: 5px;
}

.form-submit {
margin-top: 15px;
display: flex;
justify-content: flex-end;
}

.submit-btn {
    height: 2rem;
    font-size: 1.25rem;
    background-color: lightgray;
    border: 2px black solid;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

#closeChangePlayerDialogButton {
position: absolute;
right: 10px;
top: 5px;
}